.wrapper {
  display: inline-flex;
  align-items: center;
  border: 1px solid #28282B;
  border-radius: max(0.4rem, 0.4dvw);
  overflow: hidden;
  height: max(2rem, 2dvw);
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max(1.5rem, 1.5dvw);
  height: 100%;
  color: #28282B;
  font-size: max(1.2rem, 1.2dvw);
  font-weight: 400;
  cursor: pointer;
  border: none;
  padding: 0;
  line-height: 1;
}


.value {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: max(1.8rem, 1.8dvw);
  height: 100%;
  font-size: max(0.85rem, 0.85dvw);
  font-weight: 400;
  color: #28282b;
}