.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: max(0.8rem, 0.8dvw);
    background: #FAFAFA;
    flex-shrink: 0;
}

.logo {
    display: flex;
    align-items: center;
}

.logo svg {
    width: 85px;
    height: auto;
}

.closeBtn {
    background: transparent;
    cursor: pointer;
}

.closeBtn svg {
    width: max(2.2rem, 2.2dvw);
    height: max(2.2rem, 2.2dvw);
}